@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
.nav {
    margin: 20px 15px;
    padding: 10px 30px;
    color: #333333;
    
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 12px;
    

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav:hover{

    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 12px;
    
}

.nav i {
    margin: 0 2px;
    padding: 5px 15px;

    font-size: 1.3rem;
}
.nav i:hover{
    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
    color: #000000;
}


.tya {
    text-align: right;
}

.tya i{
    cursor: pointer;
}

